<p id="notice"><%= notice %></p>

<p>
  <strong>Park:</strong>
  <%= @movie_event.park_id %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @movie_event.movie_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @movie_event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @movie_event.time %>
</p>

<%= link_to 'Edit', edit_movie_event_path(@movie_event) %> |
<%= link_to 'Back', movie_events_path %>
