<p id="notice"><%= notice %></p>

<p>
  <strong>Park:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @movies.each do |m| %>
  <%= m.name. %>
  <% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @movie_event.datetime %>
</p>


<%= link_to 'Edit', edit_movie_event_path(@movie_event) %> |
<%= link_to 'Back', movie_events_path %>
