<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @park.location %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @park.neighborhood %>
</p>

<p>
  <strong>Park url:</strong>
  <%= @park.park_url %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
