<p id="notice"><%= notice %></p>

<div class="grid1">
  <%= image_tag @park.image_link %>
</div>


<h3>
  <strong>Park:</strong>
  <%= @park.name %>
</h3>

<h4>
  <strong>Neighborhood:</strong>
  <%= @park.neighborhood %>
</h4>

<p>
  <strong>Movie Event and Showtimes</strong>
<div>
  <% @movies.each do |movie| %>
    <%= movie.name %> , <%= movie.rating %>

    <% movie.movie_events.select{|movie_event|movie_event.park.id == @park.id}.each do |movie_event| %>
      <%= movie_event.datetime.strftime("at %D") %></p>
    <% end %>
  <% end %>
  </div>


