<p id="notice"><%= notice %></p>

<div class="container2">
  <h6><%= @park.name %> - 
      <%= @park.neighborhood %></h6>
</div>
</div>

    <div class="sub3">
      <h3>
      <strong>Movie Showtimes</strong>
      <h3>
    </div>

<div class="grid">
  <% @movies.each do |movie| %>
  <div>
    <div class="date">
      <% movie.movie_events.select{|movie_event|movie_event.park.id == @park.id}.each do |movie_event| %>
      <%= movie_event.datetime.strftime("%D") %>
    </div>
    
    <div>
      <%= image_tag movie.imdb_id %> 
      <div class="movietitle">
        <%= movie.name %> , <%= movie.rating %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

</p>



