<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @park.neighborhood %>
</p>

<p>
  <strong>Movie Event</strong>
  <% @movies.each do |movie| %>
  <p><%= movie.name %>, <%= movie.rating %></p>
  <% end %>
  <% @movie_events.each do |event| %>
  <p><%= event.datetime.strftime('%B %e at %l:%M %p') %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
